main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .filter {
    position: absolute;
    top: -2px;
    width: 100%;
    height: 105%;
    z-index: -4;
    backdrop-filter: blur(175px);
  }

  .bubble_1, .bubble_2 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    z-index: -5;
    background: $color;
    border-radius: 50%;
  }

  .bubble_1 {
    left: 8vw;
    top: 22vh;
  }

  .bubble_2 {
    left: 65vw;
    top: 45vh;

    @media (max-width: 1005px) {
      display: none;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 5px;
    }

    h1 {
      color: $text;
      margin: 8px;
      font-size: 2.2rem;
      font-weight: normal;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type=email], input[type=text], input[type=password], textarea {
        background: rgba(174, 175, 184, 0.3);
        border: 2px solid #5246FC;
        box-shadow: 1px 6px 17px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        outline: none;

        color: $text;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1rem;

        width: 20vw;
        min-width: 15rem;
        margin: 10px;
        padding: 10px;
      }

      textarea {
        resize: vertical;
        max-height: 370px;
        min-height: 200px;
      }

      p {
        color: #3D31E3;
        margin: 0 10px 10px auto;
        cursor: pointer;
      }

      button {
        font-family: "Poppins", sans-serif;
        border: 2px solid #5246FC;
        margin: 15px;
        padding: 2px 10px;
      }
    }
  }

  .oauth {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;

    .icon {
      border: 2px solid #5246FC;
      box-shadow: 1px 6px 17px 7px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      cursor: pointer;
      padding: 10px;
      margin: 15px 5px;
    }

    .discord {
      background: rgba(80, 80, 83, 0.3) url("@/assets/images/icons/socials/svg/discord.svg") no-repeat center;
      width: 3rem;
      height: 2.2rem;
      padding: 12px;
    }

    .google {
      background: rgba(80, 80, 83, 0.3) url("@/assets/images/icons/socials/svg/google.svg") no-repeat center;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  p {
    font-family: 'Poppins', sans-serif;
    color: $text;
    font-style: normal;

    b {
      cursor: pointer;
    }
  }
}
