main {
  padding: 12vh 8vw;
  background: rgba(200, 199, 255, 0.7);
  backdrop-filter: blur(150px);
  text-align: center;

  h1 {
    margin: 0;
    font-size: 3.3rem;
  }

  p {
    font-size: 1.5rem;
    margin: 8px 0 10vh;
  }

  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .card {

      img {
        width: 20vw;
        max-width: 400px;
        border-radius: 20px;
      }

      h3 {
        font-size: 1.6rem;
        margin: 8px;
      }

      h4 {
        font-size: 1.1rem;
        margin: 5px;
      }

      .socials {

        .social {

          p {
            margin: 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
