main {
    padding: 8vh 8vw 4vh 8vw;
    background: rgba(200, 199, 255, 0.7);
    backdrop-filter: blur(150px);
    text-align: center;
  
    h1 {
      margin: 0;
      font-size: 3.3rem;
    }

    button {
        font-size: 1.1rem;
        padding: 10px 20px;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;

        &:hover {
            background-color: darken($color: $color, $amount: 3%);
            transition: 0.3s;
      }

      }
  
    p {
      font-size: 1.5rem;
      margin: 8px 0 5vh;
    }

     a {
                  -webkit-transition: color 0.3s ease-out;
                  transition: color 0.3s ease-out;
                }
            
                a {
                  color: $color;
                  text-decoration: none;
                  cursor: pointer;
                  
                  &:hover {
                    color: darken($color: $color, $amount: 3%);
                    transition: 0.3s;
                  }
                }
  
    .team {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
  
        margin: 0 10vw 10vh 0;
  
        &:last-of-type {
          margin: 0 0 8vh 0;
        }
  
        img {
          width: 20vw;
          max-width: 250px;
          min-width: 150px;
          border-radius: 20px;
        }
  
        h3 {
          font-size: 1.6rem;
          margin: 8px;
        }
  
        h4 {
          font-size: 1.1rem;
          margin: 5px;
        }
  
        .socials {
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-top: 4vh;
  
          .social {
            display: flex;
            flex-direction: row;
            align-items: center;
  
            .icon {
              width: 2rem;
              height: 2rem;
              margin-right: 10px;
            }
  
            .instagram {
              background: url("@/assets/images/icons/socials/instagram.png") no-repeat;
              background-size: 2.5rem;
            }
  
            .discord {
              background: url("@/assets/images/icons/socials/discord.png") no-repeat;
              background-size: 2.5rem;
            }
  
            .youtube {
              background: url("@/assets/images/icons/socials/youtube.png") no-repeat;
              background-size: 2.5rem;
            }
  
            p {
              margin: 0;
              font-size: 1rem;
            }
            
          }
        }
      }
    }
  }
  