$color: #3D31E3;
$back: #10172A;

$text: #FFFFFF;
$sub-text: #AEAFB8;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  margin: 0;
  background: $back;
  overflow-x: hidden;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: $color;
  font-family: 'Rubik', sans-serif;
  color: $text;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 5px;

  img {
    margin: 2px 0 1px 3px;
  }
}

b {
  color: $color;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
