nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  .navbar {
    display: flex;
    align-items: center;

    a {
      color: $sub-text;
      text-decoration: none;
      margin: 0 1vw;

      &:hover {
        color: $text;
      }
    }

    button {
      margin: 0 15px;
    }

    .active {
      color: $color;

      &:hover {
        color: $color;
      }
    }

    @media (max-width: 780px) {
      display: none;
    }
  }

  h3 {
    color: $text;
    font-size: 2rem;
    margin: 0;
  }

  .mobile_menu_btn {
    background: url("@/assets/images/icons/menu.svg") no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;

    padding: 14px;
    display: none;

    @media (max-width: 780px) {
      display: block;
    }
  }
}

#mobile_menu.open {
  display: flex;
}

#mobile_menu {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;

  display: none;
  position: relative;
  background: #10172a;

  a {
    color: #AEAFB8;
    text-decoration: none;
    margin: 1vw;
  }

  .active {
    color: $color;

    &:hover {
      color: $color;
    }
  }

  button {
    margin: 1vw;
  }
}
