$color: #3D31E3;
$gray: #191A1B;
$back: #10172A;

$text: #FFFFFF;
$sub-text: #AEAFB8;

//@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
  background: $back;
  overflow-x: hidden;
}

button {
  background: $color;
  font-family: 'Rubik', sans-serif;
  color: $text;
  cursor: pointer;
  padding: 9px 14px;
  border: none;
  border-radius: 6px;
}

b {
  color: $color;
  font-weight: semibold;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
